<!DOCTYPE html>
<html ng-app="store">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="Controller as store">
<div class="container list-group-item" ng-repeat="product in store.products">
<div ng-controller="PanelController as panel">
		<h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>


		<div class="gallery">
		<!-- <div class="img-wrap">
					<img ng-src="{{product.images[0]}}" />
			</div> -->
			<ul class="img-thumbnails clearfix">
				<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
					<img ng-src="{{image}}" />
				</li>
			</ul>
		</div>
		<ul class="nav nav-pills">
			<li ng-class="{ active:panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)">Description</a></li>
			<li ng-class="{ active:panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
			<li ng-class="{ active:panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
		</ul>
		<div class="panel" ng-show="panel.isSelected(1)">
			<h4>Description</h4>
			<blockquote>{{product.description}}</blockquote>
		</div>

		<div class="panel" ng-show="panel.isSelected(2)">
			<h4>Specifications</h4>
			<blockquote>None yet</blockquote>
		</div>
		<div class="panel" ng-show="panel.isSelected(3)">
			<h4>Reviews</h4>
			<blockquote ng-repeat="review in product.reviews">
				<b>Stars: {{review.stars}}</b>
					{{review.body}}
				<cite>by: {{review.author}}</cite>
			</blockquote>
			<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
			<blockquote>
				<b>Stars: {{reviewCtrl.review.stars}}</b>
					{{reviewCtrl.review.body}}
				<cite>by: {{reviewCtrl.review.author}}</cite>
			</blockquote>
			<div class="form-group">
				<select class="form-control" ng-model="reviewCtrl.review.stars" required>
					<option value="1">1 star</option>
					<option value="2">2 star</option>
					<option value="3">3 star</option>
					<option value="4">4 star</option>
					<option value="5">5 star</option>
				</select>
				<textarea class="form-control" ng-model="reviewCtrl.review.body" required></textarea>
				<label>by:</label>
				<input class="form-control" ng-model="reviewCtrl.review.author" type="email" required/>
				<div> reviewForm is {{reviewForm.$valid}} </div> <!-- Print Forms Validity -->
				<input class="btn btn-primary pull-right" type="submit" value="Submit" />
			</div>
			</form>
		</div>
</div>
</div>
</body>
</html>