<!DOCTYPE html>
<html ng-app="store">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<section>
	<ul class="nav nav-pills">
		<li> <a href ng-click="tab = 1">Description</a> </li>
		<li> <a href ng-click="tab = 2">Specifications</a> </li>
		<li> <a href ng-click="tab = 3">Reviews</a> </li>
	</ul>
	{{tab}}
</section>

<div class="panel">
	<h4>Description</h4>
	<p>{{product.description}}</p>
</div>
<div class="panel">
	<h4>Specifications</h4>
	<blockquote>None yet</blockquote>
</div>
<div class="panel">
	<h4>Reviews</h4>
	<blockquote>None yet</blockquote>
</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>